section.country

  h3, h4
    margin: 0

  h3
    color: $black
    text-transform: uppercase
    font-size: 28px
    font-weight: normal
    letter-spacing: 1.3px
    padding: 0
    margin: 37px 0 11px 0

  p
    color: $black
    font-size: 17px
    line-height: 26px
    margin: 0

  .stat
    border-bottom: 1px solid $grey_light
    padding-bottom: 17px
    &.population
      margin-top: 71px
      span
        position: relative
        &::after
          position: absolute
          left: 0
          bottom: 0
          content: " "
          display: block
          +retina-sprite($sprite-population-group)
    &.internet
      margin-top: 15px
      span
        position: relative
        &::after
          position: absolute
          left: 0
          bottom: 0
          content: " "
          display: block
          +retina-sprite($sprite-wifi-group)

    &.computer
      margin-top: 15px
      span
        position: relative
        &::after
          position: absolute
          left: 0
          bottom: 0
          content: " "
          display: block
          +retina-sprite($sprite-desktop-group)

    &.phone
      margin-top: 15px
      span
        position: relative
        &::after
          position: absolute
          left: 0
          bottom: 0
          content: " "
          display: block
          +retina-sprite($sprite-phone-group)
    &.penetration
      margin-top: 15px
      span
        padding-left: 0px
        font-size: 28px

  h4
    font-size: 18px
    color: $grey_dark
    margin-bottom: 8px
    font-weight: normal

  span
    color: $grey_dark
    font-size: 18px
    display: block
    padding-left: 40px
    line-height: 29px
    height: 29px

section.country
  .center
    +breakpoint($large)
      +container($large)
      padding-top: 54px

      .stat
        margin: 0 20px 0 27px

      p
        margin: 0 56px 0 0

      .left
        +span(26%)
        margin-right: 0
      .right
        +span(73% last)

    +breakpoint($wide)
      +container($wide)
