section.graph
  background: $white
  +no-select
  padding-bottom: 40px
  h3, h4, h5
    text-overflow: ellipsis
    white-space: pre
    overflow: hidden
  .pager
    +container
    padding-top: 20px
    height: 27px
    nav
      float: right
      font-size: 0
    a
      display: block
      float: left
      width: 40px
      height: 25px
      border: 1px solid $grey_light
      &:hover
        background-color: $grey_lighter
      &.disabled
        opacity: 0.5
        &:hover
          background-color: transparent
    .prev
      background: inline-image("arrow-left.png") no-repeat center center
    .next
      background: inline-image("arrow-right.png") no-repeat center center
    .select
      color: $grey_mid
      position: relative
      line-height: 25px
      text-align: center
      font-size: 12px
      width: 130px
      margin-right: 5px
    .select-country
      +top-triangle($grey_lighter, 14px, 118px)
      width: 250px
      top: 40px
      left: - ( 250px - 130px ) / 2

  .graph-header
    +container

  header
    text-align: right
    padding-top: 20px

  .factors, .indicators
    padding-top: 5px

  .dimension
    h3
      font-weight: normal
      text-align: right
      cursor: pointer
      position: relative
      +down-triangle($grey_dark, 14px, 13px, 0px)
      &::after
        transition: all 0.5s linear
      span
        display: block
        padding-right: 24px
    &.colapsed h3::after
      transform: rotate(-90deg)

    .factor
      h4
        cursor: pointer
        font-weight: bold
        color: $black

    .indicator
      h5
        cursor: pointer
        font-weight: normal
        text-align: right
      &::after
        border-bottom: 1px solid $grey_light
        padding-top: 4px
      &:last-child::after
        border: none

  .country-ml
    cursor: pointer

  .select-country
    text-align: left
    li
      &.select-none span
        margin-bottom: 7px
      &.last-selected  span
        border-left: 6px solid $grey_mid
        padding-left: 32px
        background-position: 6px center

  .shareLinks
    height: 154px
    position: relative
    nav
      font-size: 0
      position: absolute
      bottom: 14px
      right: 1px
    a
      margin-left: 8px
      display: inline-block
      &:hover
        background-color: $grey_lighter
    span, i
      vertical-align: middle
      height: 25px
      line-height: 25px
      border: 1px solid $grey_light
      display: inline-block
    i
      width: 40px
    span
      font-size: 12px
      color: $grey_mid
      padding: 0 21px

    .download i
      background: inline-image("download.png") no-repeat center center
    .share i
      background: inline-image("share.png") no-repeat center center

  header.countries
    .country-header
      cursor: move
      padding: 21px 0 10px
      position: relative
      border-bottom: 5px solid transparent
      a.close
        display: block
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        +image-data-with-dimensions("cross.png")
      a.info-link
        display: inline-block
        cursor: pointer
        +image-data-with-dimensions("info.png")
    .last-selected
      border-bottom-color: $grey_mid
    .ghost
      cursor: pointer
      i
        display: inline-block
        position: relative
        font-style: normal
        +image-data-with-dimensions("arrow-down.png")
      .select-country
        +top-triangle($grey_lighter, 14px, 118px)
        width: 250px
        top: image-height("arrow-down.png") + 14px/2
        left: -(250px - image-width("arrow-down.png"))/2


      span.hint
        padding: 18px 0px 16px
        width: 90px
        margin: auto

  .graph-data::before
    border-bottom: 1px solid $grey_light
    content: " "
    display: block
    clear: both


section.graph
  .dimension
    padding-top: 10px
    &:first-child
      padding-top: 40px
    h3
      font-size: 21px
      letter-spacing: 0.4px
      width: 198px
      margin: 0
    .factor
      h4
        line-height: 13px
        font-size: 13px
        text-align: left
        margin: 0 0 3px 21px
        height: 13px
      &:first-child h4
        margin-top: 5px

      &:last-child
        padding-bottom: 17px

    .indicator
      margin-bottom: 5px
      height: 21px
      h5
        cursor: pointer
        font-weight: normal
        text-align: right
        font-size: 13px
        line-height: 13px
        height: 13px
      &::after
        margin-left: 19px
        margin-right: 18px
  .country-ml
    padding: 2px 0
    i
      width: 15.8px

  .pager, .graph-header
    display: none

  .graph-data::before
    margin: 0 20px

  +breakpoint($small)
    +container($small 2)
    .graph-data, .factors, .factor, .indicators, .indicator
      +container
      +break

    .dimension
      h3, h5
        margin: 0
        +span(197px)

    .country-ml
      +span(102px last)


  +breakpoint($medium)
    +container($medium 5)

    .shareLinks
      +span(3 of 4)

    .dimension
      padding-top: 10px
      &:first-child
        padding-top: 35px
      h3
        margin: 21px 0
        width: auto
        font-size: 24px
      .factor
        h4
          text-align: right
          font-size: 18px
          line-height: 30px
          height: 30px
          margin: 0

        &:first-child h4
          margin-top: 5px
        &:last-child
          padding-bottom: 25px
      .indicator
        margin-bottom: 8px
        height: 21px
        h5
          cursor: pointer
          font-weight: normal
          text-align: right
          font-size: 18px
          line-height: 21px
          height: 21px

        &::after
          margin-left: 70px
          margin-right: 0

    .country-ml
      padding: 7px 0
      i:first-child
        margin-left: 10px

    .graph-data, .factors, .factor, .indicators, .indicator
      +container
      +break

    .dimension
      h3, h4, h5
        margin: 0
        +span(3 of 4)

    .country-ml
      +span(1 of 4 last)

    .pager, .graph-header
      display: block

    .graph-data::before
      margin: 0 0 0 70px


  +breakpoint($large)
    +container($large 9)

    .shareLinks
      +span(4 of 9)

    .graph-data, .factors, .factor, .indicators, .indicator
      +container
      +break

    .dimension
      h3, h4, h5
        margin: 0
        +span(4 of 9)

    .country-ml
      +span(1 of 9)
      &:nth-child(6)
        +span(1 of 9 last)

      i
        width: 14px
        &:first-child
          margin-left: 6px

  +breakpoint($wide)
    +container($wide 9)
    .country-ml
      i
        width: 17px
        &:first-child
          margin-left: 10px
