
section.main
  .aside
    p
      color: $grey_dark
    a
      text-decoration: none
      font-weight: bold
      color: $grey_dark
      &:hover
        color: $black

    .lead
      margin-top: 0

    .info
      border-top: 1px solid $grey_light
      position: relative

      a.info-link
        right: 2px
        top: 19px
        position: absolute

      b[class^="flag"]
        margin: 0 0 24px
      h3
        color: $grey_dark
        text-transform: uppercase
        font-size: 22px
        font-weight: normal
        padding: 0
        margin: 0
      p
        overflow: hidden
      &.empty
        +opacity(0.5)

  .map
    +no-select
    position: relative

  button.select
    position: relative
    text-align: left
    background: inline-image("caret2.png") no-repeat
    border: none
    width: 100%
    padding: 0
    &:focus
      outline: 0
    span
      display: block
      color: $grey_dark
    > span
      border: 1px solid $grey_light


  .select-country
    width: 100%

    .last-selected span
      border-left: 6px solid $grey_mid
      border-right: 6px solid $grey_mid
      background-position: 6px center
      padding: 0 32px 0

    .select-none
      +container
      span:first-child
        width: 50%
        float: left
      span:last-child
        text-transform: uppercase
        width: 50%
        float: right
      span
        text-align: center
        padding: 0 !important
        display: block
        border-bottom: 1px solid $grey_light



section.main
  +container
  .aside
    padding: 52px 20px 40px
    p
      font-size: 18px
      line-height: 28px
    .lead
      margin-bottom: 23px

    .info
      margin-top: 40px
      padding-top: 51px
      h3
        letter-spacing: normal
      p
        margin-top: 5px
        height: 56px
        margin-bottom: 30px
      a.read-more
        font-weight: normal
        display: block
        background: $grey_lighter
        height: 55px
        line-height: 55px
        text-align: center
        &:hover
          background: $grey_light

  .right
    display: none


  button.select
    background-position: right 22px center
    span
      font-size: 15px
      letter-spacing: 0.8px
      padding-left: 30px
    > span
      padding-left: 19px
      height: 53px
      line-height: 53px

  .select-country
    top: 54px

  +breakpoint($medium)
    +container($medium 4)
    .aside
      padding: 89px 12px 0 35px
      .lead
        margin-bottom: 32px
      .info
        margin-top: 49px
        padding-top: 55px
        h3
          letter-spacing: 1.3px
        p
          margin-top: 7px
          height: 115px
          margin-bottom: 0
        &.empty p
          font-size: 20px
          line-height: 32px
        a.read-more
          font-weight: bold
          display: inline-block
          background: none
          text-align: left
          &:hover
            background: none
          span::after
            margin-left: 8px
            content: ">>"

    .left
      +span(3 of 4)
    .right
      height: 790px
      display: block
      position: relative
      +span(1 of 4 last)

    button.select
      background-position: right 29px center
      span
        letter-spacing: normal
        padding-left: 30px
      > span
        font-size: 21px
        height: 60px
        line-height: 60px

    .select-country
      top: 59px

  +breakpoint($large)
    +container($large 9)
    .aside
      padding: 89px 12px 0 35px
      p
        font-size: 20px
        line-height: 30px
      .lead
        margin-bottom: 46px
      .info
        margin-top: 49px
        padding-top: 60px

    .left
      +span(4 of 9)
    .aside
      padding: 90px 0 10px 70px
    .right
      +span(5 of 9 last)
