
section.main
  .aside
    p
      color: $grey_dark
    a
      text-decoration: none
      font-weight: bold
      color: $grey_dark
      &:hover
        color: $black

    .lead
      margin-top: 0

    .info
      background: inline-image("info.png") no-repeat right 2px top 19px
      border-top: 1px solid $grey_light
      b[class^="flag"]
        margin: 0 0 24px
      h3
        color: $grey_dark
        text-transform: uppercase
        font-size: 22px
        font-weight: normal
        padding: 0
        margin: 0
      p
        margin-top: 5px
        overflow: hidden
      &.empty
        +opacity(0.5)

  .map
    +no-select
    height: 740px
    position: relative

  button.select
    position: relative
    text-align: left
    background: inline-image("caret2.png") no-repeat
    border: none
    width: 100%
    padding: 0
    &:focus
      outline: 0
    span
      display: block
      color: $grey_dark
    > span
      border: 1px solid $grey_light


  .select-country
    width: 100%
    li
      &.select-none span
        padding-bottom: 11px
      &.last-selected span
        border-left: 6px solid $grey_mid
        border-right: 6px solid $grey_mid
        background-position: 6px center
        padding: 0 32px 0


section.main
  +container
  //background: image-url("b.png")
  .aside
    p
      font-size: 18px
      line-height: 28px
    .lead
      margin-bottom: 23px

    .info
      margin-top: 40px
      padding-top: 51px
      h3
        letter-spacing: normal
      p
        height: 56px
        margin-bottom: 30px
      a
        font-weight: normal
        display: block
        background: $grey_lighter
        height: 55px
        line-height: 55px
        text-align: center
        &:hover
          background: $grey_light

  .left
  .aside
    padding: 52px 20px 40px
  .right
    display: none


  button.select
    background-position: right 22px center
    span
      font-size: 15px
      letter-spacing: 0.8px
      padding-left: 30px
    > span
      padding-left: 19px
      height: 53px
      line-height: 53px

  .select-country
    top: 54px

  +breakpoint($medium)
    +container($medium 4)
    .aside
      p
        font-size: 20px
        line-height: 30px
      .lead
        margin-bottom: 46px
      .info
        margin-top: 49px
        padding-top: 60px
        h3
          letter-spacing: 1.3px
        p
          height: 56px
          margin-bottom: 30px
        a
          font-weight: normal
          display: block
          background: $grey_lighter
          height: 55px
          line-height: 55px
          text-align: center
          &:hover
            background: $grey_light
          span::after
            content: ">>"

    .left
      +span(3 of 4)
    .right
      height: 756px
      display: block
      position: relative
      +span(1 of 4 last)

    button.select
      background-position: right 10px center
      span
        letter-spacing: normal
        font-size: 21px
        padding-left: 30px
      > span
        height: 60px
        line-height: 60px

    .select-country
      top: 59px

  +breakpoint($large)
    +container($large 9)
    .left
      +span(4 of 9)
    .aside
      padding: 90px 0 10px 70px
    .right
      +span(5 of 9 last)



/* ---singles----- */


.drag
  background: #efefef
  opacity: 0.5

.over
  background: #efefef
  position: relative
  &::after
    position: absolute
    top: 134px
    left: 0
    display: block
    content: " "
    width: 99%
    height: 9999px
    opacity: 0.5
    border-left: 1px dotted grey
    border-right: 1px dotted grey





.select-country
  background-color: $grey_lighter
  position: absolute
  padding: 0 0 10px
  list-style: none
  z-index: 1000
  margin: 0
  left: 0
  li
    &.select-none
      span
        text-transform: none
        letter-spacing: 1px
        border-bottom: 1px solid $white
        line-height: 60px
    &.selected
      span
        background: $grey_light inline-image("check.png") no-repeat 12px center
    &:hover span, &.selected:hover span
      background-color: $grey_light
    span
      display: block
      color: $grey_mid
      text-transform: uppercase
      padding: 0 38px 0
      font-size: 15px
      line-height: 36px
      letter-spacing: 0.3px

header.countries
  +breakpoint($medium)
    +span(1 of 4 last)
    .country-header
      +span(1 of 1 last)

  +breakpoint($large)
    +span(5 of 9 last)
    .country-header
      +span(1 of 5)
      &:nth-child(5)
        +span(1 of 5 last)

  +no-select
  .country-header
    text-align: center
    b
      display: inline-block
    span.country-name
      display: block
      text-transform: uppercase
      margin-top: 3px
      font-size: 12px
      height: 35px
  .ghost
    span.hint
      color: $grey_mid
      display: block
      font-size: 12px
      height: 35px
