.overlay.maturity-levels
  section.general
    +container($large)
    .left
      +span(58%)
    .right
      +span(36% last)

    h3, h4
      color: $grey_dark
      font-weight: normal
      letter-spacing: 1.3px
      padding: 0

    h3
      font-size: 22px
      margin: 0px 0 30px 0

    .left h4
      font-size: 18px
      margin: 0px 0 10px 0
      text-transform: uppercase

    .right
      padding-top: 4px
      h4
        color: $grey_mid
        font-size: 15px
        margin: 0px 0 13px 0
        text-transform: uppercase

    .country-ml
      margin-right: 53px
      padding-bottom: 24px
      border-bottom: 1px solid $grey_light
      margin-bottom: 25px
      i
        background: $grey_light

    @for $j from 1 through 5
      .ml-#{$j} i:nth-child(-n+#{$j})
        background: $grey_mid

    p
      color: $grey_dark
      letter-spacing: 1px
      font-size: 18px
      margin: 0 0 30px 0
      line-height: 30px





  section.indicator

    h3.dimension-name
      font-weight: normal
      margin: 0
      padding-top: 10px
      font-size: 19px

    h3.country-name
      color: $grey_dark
      font-size: 30px
      letter-spacing: 0.2px
      margin: 38px 0 0
      text-transform: uppercase
      font-weight: normal

    h4.factor-name
      font-size: 20px
      color: $black
      margin: 38px 0 0

    p.factor-description
      color: $black
      margin: 4px 0 36px
      line-height: 24px
      border-bottom: 1px solid $grey_light
      padding-bottom: 32px

    h5
      cursor: pointer
      display: inline-block
      position: relative
      margin: 4px 0 14px
      font-size: 20px
      font-weight: normal
      +down-triangle($grey_dark, 14px, 13px, 0px)
      &::after
        transition: all 0.5s linear
      span
        display: block
        padding-right: 24px

    .indicator
      +container
      &:last-child
        border-bottom: none
        margin-bottom: 0
        padding-bottom: 0

      &.colapsed
        h5::after
          transform: rotate(-90deg)

      .indicator-inner
        +container
        border-bottom: 1px solid $grey_light
        padding-bottom: 7px
        margin: 15px 0
        &.colapsed
          .country-ml
            display: none
          h4::after
            transform: rotate(-90deg)
      .left
        cursor: pointer
      .right
        p
          margin-top: 24px
          margin-bottom: 27px
      h4
        width: 140px
        font-size: 18px
        font-weight: normal
        margin: 0 0 10px
        text-transform: uppercase
        letter-spacing: 0.2px
        position: relative
        +down-triangle($grey_dark, 14px, 6px, 0px)
        &::after
          transition: all 0.5s linear

      p
        line-height: 25px
        color: $black
        margin: 0
        font-size: 18px
      &.active
        p
          color: inherit

      +breakpoint($medium)
        +container($medium)
        .indicator h4
          width: auto
        .left
          +span(1 of 4)
        .right
          +span(3 of 4 last)
          p
            margin: 0 20px 27px

      +breakpoint($large)
        +container($large)
        .left
          +span(2 of 9)
        .right
          +span(7 of 9 last)
