.overlay
  background: $white
  border: 1px solid $grey_mid
  margin: 0 auto
  padding: 20px
  +container($large)

  .container
    position: relative

+breakpoint($large)
  .overlay
    padding: 42px
