<section class="contact static">
  <div class="center">
    <a class="close" ng-click="back()" ></a>    
    <h3 translate>contacto</h3>
    <div class="left">
      <div class="organization">
        <h4 translate>organizacion.de.los.estados.americanos</h4>
        <address translate>oea.address.line1</address>
        <address translate>oea.address.line2</address>
        <address translate>oea.address.line3</address>
        <span class="phone" translate>oea.phone</span>
      </div>
      <div class="organization">
        <h4 translate>banco.interamericano.de.desarrollo</h4>
        <address translate>bid.address.line1</address>
        <address translate>bid.address.line2</address>
        <address translate>bid.address.line3</address>
        <span class="phone" translate>bid.phone</span>
      </div>
    </div>
    <div ng-form class="right" name="contactForm" ng-class="{'submission-attempted': submissionAttempted }" >
      <h4 translate>formulario.de.contacto</h4>
      <div class="name">
        <input type="text" placeholder="{{'name' | translate}}" ng-model="data.name" ng-required="true"/>
      </div>
      <div class="email">
        <input type="email" placeholder="{{'email' | translate}}"  ng-model="data.email" ng-required="true"/>
      </div>
      <div class="query">
        <textarea placeholder="{{'query' | translate}}"  ng-model="data.query" ng-required="true" ></textarea>
      </div>
      <div class="hint" ng-show="submissionAttempted && !contactForm.$valid">
        *
        <span translate>completar.campos.obligatorios</span>
      </div>
      <button ng-click="submit()" translate>enviar</button>
    </div>
  </div>
</div>
