<div class="overlay country-details">
  <div class="container">

    <a class="close" ng-click="close()"></a>

    <div class="right">
      <b class="flag-{{country.code}}"></b>
      <h3>{{country.name}}</h3>
      <p ng-repeat="paragraph in country.description|nlToArray track by $index">{{paragraph}}</p>
    </div>

    <div class="left">
      <div class="stat population">
        <h4 translate>poblacion.total</h4>
        <span>{{country.population | number:0}}</span>
      </div>
      <div class="stat internet">
        <h4 translate>con.internet</h4>
        <span>  {{country.people_with_internet | number:0}}</span>
      </div>
      <div class="stat phone">
        <h4 translate>con.telefono</h4>
        <span>{{country.mobile_phone_subscriptions | number:0}}</span>
      </div>
      <div class="stat penetration">
        <h4 translate>internet.penetration</h4>
        <span>{{(country.people_with_internet/country.population*100) | number:0}}%</span>
      </div>
    </div>

  </div>
</div>
