<p class="lead">
  <span translate>este.sitio.permite.conocer.el</span>
  <a ui-sref="modal.maturity-levels" translate>grado.de.madurez</a>
  <span translate>de.cada.pais.en.terminos.de.ciberseguridad</span>
  <span translate>boreceror.solupta</span>
</p>

<button class="select" click-out="countrySelectClickout()">
  <span ng-click="toggleCountrySelect()" ng-show="!$stateParams.countries" translate>selecciona.un.pais</span>
  <span ng-click="toggleCountrySelect()" ng-show="$stateParams.countries" translate>compara.otro.pais</span>
  <div ng-show="countrySelectOpened" class="select-country">
    <div class="select-none" >
      <div class="select-none-left" >
        <span ng-click="deselectAll()" translate>deseleccionar.todos</span>
      </div>
      <div class="select-none-right" >
        <span ng-click="toggleCountrySelect()" translate>aceptar</span>
      </div>
    </div>
    <ul>
      <li ng-repeat="country in countries" ng-class="{'selected':($stateParams.countries.indexOf(country.code) > -1), 'last-selected':($stateParams.last_selected == country.code)}" >
        <span ng-click="clickCountry(country.code)">{{country.name}}</span>
      </li>
    </ul>
</div>
</button>

<div class="info empty" ng-if="!$stateParams.last_selected">
  <h3 translate>pais.seleccionado</h3>
  <p translate>enterate.de.la.situacion</p>
</div>

<div class="info" ng-if="$stateParams.last_selected">
  <a  ui-sref="app.country({code: $stateParams.last_selected})" class="info-link"></a>
  <div class="pager">
    <b class="flag-{{$stateParams.last_selected}}"></b>
    <nav>
      <a ng-show="showPager()" class="prev" ng-class="{'disabled': prevDisabled() }" ng-click="prev()"></a>
      <a ng-show="showPager()" class="next" ng-class="{'disabled': nextDisabled() }" ng-click="next()"></a>
    </nav>
  </div>
  <h3>{{last_selected().name}}</h3>
  <p>
    {{last_selected().excerpt}}
  </p>
  <a ui-sref="app.country({code: $stateParams.last_selected})" class="read-more">
    <span translate>leer.mas</span>
  </a>
</div>
