<div class="pager">
  <nav>
    <a ng-hide="showGhostCountry()" class="select" ng-click="toggleNavCountrySelect()" click-out="navCountrySelectClickout()">
      <span translate>seleccionar.un.pais</span>
      <ul ng-show="navCountrySelectOpened" class="select-country">
        <li class="select-none" >
          <span ng-click="deselectAll($event)" translate>deseleccionar.todos</span>
        </li>
        <li ng-repeat="country in countries" ng-class="{'selected':($stateParams.countries.indexOf(country.code) > -1), 'last-selected':($stateParams.last_selected == country.code)}" >
          <span ng-click="clickCountry(country.code, $event)">{{country.name}}</span>
        </li>
      </ul>
    </a>
    <a ng-show="showPager()" class="prev" ng-class="{'disabled': prevDisabled() }" ng-click="prev()"></a>
    <a ng-show="showPager()" class="next" ng-class="{'disabled': nextDisabled() }" ng-click="next()"></a>
  </nav>
</div>

<div class="graph-header">

  <div class="shareLinks">
    <nav ng-show="countriesSelected()">
      <a class="download" ng-href="{{downloadLink()}}" target="_blank">
        <i></i>
        <span translate>descargar.xls</span>
      </a>
      <a class="share" ng-click="openSharer($event)">
        <i></i>
        <span translate>compartir</span>
      </a>
    </nav>
    <div id="sharer" ng-show="sharerOpened">
      <div class="box" click-out="clickOutSharer()">
        <div class="container">
          <a class="close" ng-click="closeSharer()"></a>
          <h3 translate>Compartir</h3>
          <div class="top">
            <div class="link">
              <input type="text" ng-value="shareLink"/>
            </div>
            <div class="social">
              <a class="twitter"
                socialshare
                socialshare-provider="twitter"
                socialshare-text="{{'socialshare.text' | translate}}"
                ng-click="closeSharer()">
              Twitter</a>
              <a class="facebook"
                  socialshare
                  socialshare-provider="facebook"
                  socialshare-text="{{'socialshare.text' | translate}}"
                  ng-click="closeSharer()">
                Facebook
              </a>
            </div>
          </div>
          <div ng-form class="shareForm" name="shareForm">
            <h4 translate>Enviar este vinculo a</h4>
            <input type="email" placeholder="Correo electronico"  ng-model="data.email" ng-required="true"/>
            <textarea placeholder="Comentario (opcional)"  ng-model="data.query" ng-required="true" ></textarea>
            <button ng-click="submit()" translate>Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="countries">
    <div ng-repeat="country in shownCountries()"  ng-click="setLastSelected(country.code)" code="country.code" drag-and-drop drop="handleDrop" class="country-header" ng-class="{'last-selected':($stateParams.last_selected == country.code)}">
      <a class="close" ng-click="clickCountry(country.code)"></a>
      <b class="flag-{{country.code}}"></b>
      <span class="country-name">{{country.name}}</span>
      <a  ui-sref="modal.country-details({code: country.code})" class="info-link"></a>
    </div>

    <div ng-show="showGhostCountry()" class="country-header ghost" ng-click="toggleCountrySelect($event)" drag-and-drop drop="handleDrop" click-out="countrySelectClickout()">
      <span class="hint" translate>selecciona.un.pais.para.comparar</span>
      <i>
        <ul ng-show="countrySelectOpened" class="select-country">
          <li class="select-none" >
            <span ng-click="deselectAll($event)" translate>deseleccionar.todos</span>
          </li>
          <li ng-repeat="country in countries" ng-class="{'selected':($stateParams.countries.indexOf(country.code) > -1), 'last-selected':($stateParams.last_selected == country.code)}" >
            <span ng-click="clickCountry(country.code, $event)">{{country.name}}</span>
          </li>
        </ul>
      </i>
    </div>
  </header>
</div>

<div class="graph-data">
  <div ng-repeat="dimension in dimensions" class="dimension dim-{{dimension.id}}"  ng-class="{'colapsed':!expandedDimension(dimension)}" >
    <h3 ng-click="toggleDimension(dimension)">
      <span>{{ dimension.title }}</span>
    </h3>
    <div class="factors fade" ng-slide-down="expandedDimension(dimension)">
      <div ng-repeat="factor in dimension.factors" class="factor">
        <h4 ui-sref="modal.maturity-levels.factor({dimension_id:dimension.id, factor_id:factor.id})">{{factor.title}}</h4>
        <div class="indicators">
          <div ng-repeat="indicator in factor.indicators" class="indicator">
            <h5 ui-sref="modal.maturity-levels.factor.indicator({dimension_id:dimension.id, factor_id:factor.id,indicator_id:indicator.id})">{{indicator.title}}</h5>
            <div ng-repeat="country in shownCountries()" ui-sref="modal.maturity-levels.factor.indicator({dimension_id:dimension.id, factor_id:factor.id,indicator_id:indicator.id, maturity_level:country.maturity_levels[indicator.id]})" class="country-ml" ng-class="'ml-'+(country.maturity_levels[indicator.id])">
              <i></i><i></i><i></i><i></i><i></i>
            </div>
            <div class="country-ml ghost" ng-show="showGhostCountry()">
              <i></i><i></i><i></i><i></i><i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
