<b ng-show="country" class="flag-{{country.code}}"></b>
<h3 ng-show="country" class="country-name">{{country.name}}</h3>

<h3 class="dimension-name">{{dimension.title}}</h3>
<h4 class="factor-name">{{factor.title}}</h4>
<p class="factor-description">{{factor.description}}</p>
<div class="indicators">

  <div ng-repeat="indicator in factor.indicators" class="indicator" ng-class="{'colapsed': $stateParams.indicator_id != indicator.id}">
    <h5 ng-click="toggleIndicator(indicator)">
      <span>{{ indicator.title }}</span>
    </h5>
    <div class="indicator fade" ng-slide-down="$stateParams.indicator_id == indicator.id" >
      <div class="indicator-inner" ng-repeat="i in [1,2,3,4,5]" ng-class="{'colapsed': mls[indicator.id].indexOf(i) == -1, 'currentMl': currentMl(indicator.id,i)}">
        <div class="left"  ng-click="toggleMl(indicator.id,i)">
          <h4>
            <span translate>{{'maturity-level-'+i+'-title'}}</span>
          </h4>
          <div class="country-ml ml-{{i}}">
            <i></i><i></i><i></i><i></i><i></i>
          </div>
        </div>
        <div class="right" ng-slide-down="mls[indicator.id].indexOf(i) != -1" >
          <p>{{indicator['maturity_level'+i+'_text']}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
