

.isologo
  margin: 0
  a
    display: block
    span
      font-weight: normal
      display: block
      color: $grey_mid
      white-space: nowrap
    strong
      font-weight: bold
      display: block
      color: $black


.country-ml
  font-size: 0
  i
    display: inline-block
    width: 17px
    height: 7px
    border-right: 1px solid $white
    background: $grey_lighter

@each $colors in $dimensions_colors
  $i: index($dimensions_colors, $colors)
  .dim-#{$i}
    color: map-get($colors, dark)
    @for $j from 1 through 5
      .ml-#{$j} i:nth-child(-n+#{$j})
        background: map-get($colors, dark)



#content
  position: relative

//*** page transitions ***//

[ui-view].ng-enter, [ui-view].ng-leave
  transition: opacity 0.8s ease-in-out

//[ui-view].ng-enter
//  transition-delay: 0.8s

[ui-view].ng-enter
  opacity: 0

[ui-view].ng-enter-active
  opacity: 1

[ui-view].ng-leave
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  opacity: 1

[ui-view].ng-leave-active
  opacity: 0
