

.isologo
  margin: 0
  a
    display: block
    span
      font-weight: normal
      display: block
      color: $grey_mid
      white-space: nowrap
    strong
      font-weight: bold
      display: block
      color: $black


.country-ml
  font-size: 0
  i
    display: inline-block
    width: 17px
    height: 7px
    background: $grey_lighter
    margin-right: 1px

@each $colors in $dimensions_colors
  $i: index($dimensions_colors, $colors)
  .dim-#{$i}
    color: map-get($colors, dark)
    @for $j from 1 through 5
      .ml-#{$j} i:nth-child(-n+#{$j})
        background: map-get($colors, dark)




.select-country
  background-color: $grey_lighter
  position: absolute
  padding: 0 0 10px
  list-style: none
  z-index: 1000
  margin: 0
  left: 0
  li
    &.select-none
      span
        text-transform: none
        letter-spacing: 1px
        border-bottom: 1px solid $white
        line-height: 60px
    &.selected
      span
        background: $grey_light inline-image("check.png") no-repeat 12px center
    & span:hover, &.selected span:hover
      background-color: $grey_light
    span
      display: block
      color: $grey_mid
      text-transform: uppercase
      padding: 0 38px 0
      font-size: 15px
      line-height: 36px
      letter-spacing: 0.3px



header.countries
  +breakpoint($medium)
    +span(1 of 4 last)
    .country-header
      +span(1 of 1 last)

  +breakpoint($large)
    +span(5 of 9 last)
    .country-header
      +span(1 of 5)
      &:nth-child(5)
        +span(1 of 5 last)

  +no-select
  .country-header
    text-align: center
    b
      display: inline-block
    span.country-name
      display: block
      text-transform: uppercase
      margin-top: 3px
      font-size: 12px
      height: 35px
  .ghost
    span.hint
      color: $grey_mid
      display: block
      font-size: 12px
      height: 35px


#content
  position: relative




//*** page transitions ***//

[ui-view].ng-enter, [ui-view].ng-leave
  transition: opacity 0.8s ease-in-out

//[ui-view].ng-enter
//  transition-delay: 0.8s

[ui-view].ng-enter
  opacity: 0

[ui-view].ng-enter-active
  opacity: 1

[ui-view].ng-leave
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  opacity: 1

[ui-view].ng-leave-active
  opacity: 0
