section.static
  position: relative

  a.close
    +retina-sprite($sprite-closebig-group)

  h3
    +break
    margin: 0
    font-size: 30px
    line-height: 30px
    padding: 58px 0 2px
    font-weight: normal
    color: $black

  h4
    color: $grey_dark
    font-weight: normal
    font-size: 20px
    line-height: 30px
    padding: 27px 0 8px
    margin: 0

  h5
    color: $black
    padding: 16px 0px 0px
    font-size: 20px
    line-height: 30px
    margin: 0
    font-weight: bold

  p
    margin: 0
    font-size: 17px
    line-height: 22px
    padding: 0 0 18px
    color: $black
    text-align: justify

  ul
    margin: 0
    padding: 10px 17px
    li
      font-size: 18px
      line-height: 25px
      margin-bottom: 10px

  blockquote
    padding: 16px 0px 0px
    margin: 0
    text-transform: uppercase
    letter-spacing: 0.6px
    font-size: 18px

  hr
    border: none
    border-bottom: 1px solid $grey_midder

body.contributors, body.institutional, body.credits, body.about, body.contact
  #content
    background: $grey_light


section.static
  +container($small)
  a.close
    top: 50px
    right: 20px

  padding: 30px 0 60px

  table
    width: 100%
    td
      vertical-align: top
      padding-bottom: 60px
      display: block
      width: 100%


  .center
    margin: 0 20px
  +breakpoint($medium)
    a.close
      right: 35px
    .center
      margin: 0 35px

    +container($medium)
  +breakpoint($large)
    +container($large)
    padding: 40px 0px 60px
    a.close
      top: 54px
      right: 76px

    .center
      +break
      margin: 0 70px

    table
      td
        display: table-cell
        width: 50%


  +breakpoint($wide)
    +container($wide 9)
    table
      width: 75%
