.ng-toast
  display: none
  .alert
    font-size: 12px
    letter-spacing: 0.3px
    display: inline-block
    background: $black
    color: $white
    padding: 10px 10px 10px 30px
    text-transform: uppercase
    margin-bottom: 8px
    position: relative
    &::after
      position: absolute
      top: 10px
      left: 8px
      content: " "
      display: block
      +retina-sprite($sprite-notice-group)


.ng-toast--animate-fade .ng-enter, .ng-toast--animate-fade .ng-leave
  transition: opacity 0.8s ease
.ng-toast--animate-fade .ng-enter
  opacity: 0
.ng-toast--animate-fade .ng-enter.ng-enter-active
  opacity: 1
.ng-toast--animate-fade .ng-leave
  opacity: 1
.ng-toast--animate-fade .ng-leave.ng-leave-active
  opacity: 0

+breakpoint($medium)
  .ng-toast
    display: block
